.nu {
    display: none;
}

.container {
    margin-top: 10%;
    width:90%;
    margin-left:5%;
}

#titlu {
    font-size: xx-large;
    text-align: center;
}


img {
    position: absolute;
    right: 0;
    top: 0;
    display:none;
}
#counter {
    font-size: xx-large;
    text-align: center;
}

iframe {
    position:absolute;
    right:0;
    top:0;
    display:none;
}

h1, h2, img {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.text {
    font-size: xx-large;
    text-align: center;
    color: rgb(251, 149, 255);
    width: 25%;
    margin:0 auto;
}

#vesela:hover {
    cursor: pointer;
    text-decoration: underline;
}

#clicc:hover {
    color: rgb(247, 68, 253);
    cursor: pointer;
    text-decoration: underline;
}

